<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"    
>
    <servlet>
        <servlet-name>XXX</servlet-name>
        <servlet-class>/home/kwj-at-lzu/Java/WebFoundation/Servlet/Servlet.ServletIntro</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>XXX</servlet-name>
        <url-pattern>/xxx.servlet</url-pattern>
    </servlet-mapping>
</web-app>